[user]
  name = palmtoy
  email = zgli@corp.netease.com
[color]
  diff = auto
  branch = auto
  status = auto
  ui = auto
[http]
	proxy = 10.14.105.82:808
[core]
	excludesfile = /home/will/Workspace/GitHub/gitignore/Node.gitignore
