[user]
	name = Zhigang Li
	email = zgli@kabaminc.com
[color]
	diff = auto
	branch = auto
	status = auto
	ui = auto
[core]
	quotepath = false
[push]
  default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[diff]
	tool = meld
[alias]
	diffall = git-diffall

